extends ./layout.jade

block vars
  - var title = 'Home'

block content
  h5 API Key
  div.panel.panel-default
    div.panel-body
      div.form-group
        label.control-label.col-sm-1 Id:
        div.col-sm-4
          input.form-control(readonly, type='text', name='id', value=user.apiKeys.items[0].id)
        label.control-label.col-sm-1 Secret:
        div.col-sm-6
          input.form-control(readonly, type='text', name='secret', value=user.apiKeys.items[0].secret)
  h5 I am a: 
  div.panel.panel-default
    div.panel-body
      form.form-horizontal(method='post')
        div.col-sm-12
          div.form-group
            label
              input(type="checkbox", name="catPerson")
              | Cat person

          div.form-group
            label
              input(type="checkbox", name="dogPerson")
              | Dog person
          div.form-group
            div.col-sm-offset-4.col-sm-4
              button.btn.btn-default(type='submit') Save