extends ./layout.jade

block vars
  - var title = 'Home'

block content
  h2.text-center Welcome
  div.jumbotron
    p.
      The best API for interacting with dogs and cats
    ol.lead
      li
        a(href="/register") Create an account
      li
        a(href="/login") Login